@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #4E4B59;

}

*::-webkit-scrollbar-thumb {
  background: #01010c;
  border-radius: 4px;
}

.custom-gradient {
  background: linear-gradient(116.51deg, #05041B 37.48%, #6000b4 152.45%);
}

